---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm just",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<p class="text-lg mb-16">These things are just notes and scribbles.</p>
		<ul class="list-inside list-disc">
			<li>Don't take things too seriously.</li>
			<li>Add a grain of salt.</li>
			<li>Usually the author doesn't know what they're talking about.</li>
		</ul>
		<p>↑ That is also good rules for the Internet as a whole.</p>

		<p>
			This blog is written in <a class="link" href="https://astro.build/">Astro</a>. I migrated away from <a
				class="link"
				href="https://notes.webutvikling.org/gatsby-intro/">Gatsby</a
			>, which seems to be <a class="link" href="https://2022.stateofjs.com/libraries"
				>a thing nowadays</a
			>. Curious for more? See the <a class="link" href="https://github.com/tomfa/blog"
				>Github repo</a
			>.
		</p>
		<p>I am Tomas. You can find me on
			<a class="link" href="https://github.com/tomfa">GitHub</a>,
			<a class="link" href="https://twitter.com/tommfa">Twitter</a>,
			<a class="link" href="https://cal.com/tomas-fagerbekk">cal.com</a> or
			<a class="link" href="https://linkedin.com/in/fagerbekk">LinkedIn</a>.
		</p]>
	</div>
</PageLayout>
